/* GOOGLE FONTS LINK */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');/* Asterisk wildcard selector to override default styles added by the browser */

/* CSS VARIABLES - root holds the variables (they have no where else to live) and means they apply to the whole document*/ 
:root {
    --anti-flash-white: #f1f1f2; /* link hover colour for navbar and footer*/
    --light-blue: #a2d6f9; /*header and footer colour */
    --light-yellow: #fcf300; /* button fill colour*/
    --darker-yellow: #ffc600; /*button hover colour*/
    --light-blue-transparent: rgba(162 214 249 / 50%); /* light blue background colour */
    --azure-blue-transparent: rgb(52 125 235 / 75%); /* azure blue background colour*/
    --heading-font: 'Poppins', sans-serif;
    --body-font: 'Quicksand', sans-serif;
    }

/* GENERAL STYLES - 
code from Love Running - used in conjunction with flex: 1 0 auto; stying on main element 
to push footer to bottom of page*/

body {
/* min-height here allows the body elements to stretch larger than the height of the screen 
when there is enough content that thhe user needs to scroll */
    min-height: 100vh;
/*flex column means the elements will still show underneath each other */
    display: flex;
    flex-direction: column;
}

main {
    /*makes the main element take up any surplus space and not shrink when the screen
    is too small to show all the content. This is used in conjunction with body styles
     min-height: 100vh; display: flex; flex-direction: column; to ensure that the footer is
     pushed all the way to the bottom of the page*/
    flex: 1 0 auto; 
}

h1 {
    text-transform: uppercase;
}
h1, h2 {
    font-family: var(--heading-font);
    text-align: center; 
    margin-bottom: 0;
}

h4 { 
    font-family: var(--heading-font);
    text-align: center;
    text-transform: uppercase;
}

p {
    font-family: var(--body-font);
    font-weight: 600;
    padding-left: 5%;
    padding-right: 9%;
    text-align: center;
}


/* Changes the background colour of sections with this class and 
 and makes images and text on those sections centered */

.container-light-blue {
    text-align: center; 
    background-color: var(--light-blue-transparent);
}

.container-azure-blue {
    text-align: center; 
    background-color: var(--azure-blue-transparent);
}

.container-white {
    text-align: center; 
    background-color: white;
}

/* NAVBAR */
#navbar {
    background-color: var(--light-blue);

}

.navbar-brand {
    margin-right: 2px;
}

/* styles navbar logo only*/
.logo {
  height: 50px; 
  width: 50px;   
}

/*styles the navbar link for the page that user is on e.g. if user is on homepage, only home will appear underlined*/
.active {
    text-decoration: underline;
}

/*styles the text for the links in the navbar*/
.nav-link {
    font-family: var(--heading-font);
    font-weight: 900;
    font-weight: bold;
}

/*Styles the text for the college name in the navbar*/
.college-name {
    font-family: var(--heading-font);
    font-weight: bold;
    font-weight: 900;
}

/*Adds hover functionality to BS navbar links to change their colour 
to white when hovered over*/
.navbar .navbar-nav .nav-link:hover {
    color: var(--anti-flash-white);
}

/* SUB NAVIGATION SECTION */

.sub-nav-bar {
    background-color: var(--light-blue);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: var(--body-font);
}

/* Colour of link when it has not been clicked on*/
.sub-nav-bar a {
    font-family: var(--body-font);
    font-weight: bold;
    color: black;
}

/* Colour of link when it is hovered over */
a:hover {
    color: #3b0075;
}


/* IMAGE STYLES - EXCLUDING HERO IMAGES */

.homepage-menu-images {
    height: 215px;
    width: 285px;
    border: hidden;
    /* border-radius softens the edges of the image - the value of 50% makes it a circle */
    border-radius: 5%;
    padding-top: 10%;
    margin-bottom: 5%;
}

.homepage-logo {
    height: 215px;
    width: 285px;
    border: 1px solid black;
    /* border-radius softens the edges of the image - the value of 50% makes it a circle */
    border-radius: 5%; 
    /* needed to added margin-top instead of padding-top as the visible border pushed the image closer to the top. 
    Padding on this skewed the logo so it was removed */
    margin-top: 5%;
    /* the margin-bottom moves the menu title down so it is not sitting directly under the logo */
    margin-bottom: 5%;
}

.course-overview-about-you-images {
    height: 248px;
    width: 330px;
    border: hidden;
    /* border-radius softens the edges of the image - the value of 50% makes it a circle */
    border-radius: 5%;
    /* moves about you image slightly away from top of footer and moves course overview images slightly away from their corresponding text*/
    padding-bottom: 5%;
}

.instructor-images {
    max-height: 90%;
    max-width: 90%;
    border: hidden;
    /* border-radius softens the edges of the image - the value of 50% makes it a circle */
    border-radius: 5%;
    padding-top: 10%;
    margin-bottom: 5%;
}

/* HOME PAGE STYLES */ 
/*HERO SECTION - HOMEPAGE*/

/*Hero Image*/
#homepage-hero-image {
    /* won't be able to see the background image if you don't add a width and height to it */
    height: 400px;
    width: 100%; 
    /*links our hero image. We are starting from our style.css file in the CSS folder so the ../
    means go up a level to assets folder and then into images and then go to the image. The two 
    centers mean the image is centered vertically and horizontally. Cover means the image 
    automatically sizes itself to cover entire hero section with no distortion*/
    background: url("../images/index-images/home-hero.png") no-repeat center center/cover;
}

#course-intro {
    /* width 100% makes the div take up the full width of the screen - 
    therefore the applied background colour covers the whole screen with no gaps */
    /* height of fit content means the background colour of div 
    titled course-intro covers all of the text contained within the div
    i.e. the h1, h2 and p. Also fixes the issue of text spilling out of the div on Samsung mobile internet */
    height: fit-content;
    width: 100%;
    background-color: var(--light-blue-transparent);
}

/*Stop buttons on homepage sticking to the bottom of the containing div */
.about-course-homepage-text {
    padding-bottom: 5%;
}

/* COURSE INFORMATION PAGE */
/* COURSE OVERVIEW SECTION */

/* Targets specific font awesome icons next to the text under the images in the course overview section and stops them sticking to the left 
of the screen on small screens */
.fa-oil-can {
    padding-left: 5%;
}

.fa-car-battery {
    padding-left: 5%;
}

.fa-triangle-exclamation {
    padding-left: 5%;
}

#course-overview {
    background-color: var(--light-blue-transparent);
}

.image-positon {
    display: flex;
    justify-content: center;
}

.course-overview-images {
    max-height: 80%;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}

.course-overview-text {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

/* COURSE SUMMARY TABLE */
.table {
    border: none;
    font-family: var(--body-font);
    max-width: 90%;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-top: 2%;
}

#course-summary-table {
    background-color: var(--azure-blue-transparent);
}


/* ABOUT PAGE*/

.centered-text {
        background-color: var(--light-blue-transparent)
    }
/*Makes scroll icons on the BS carousel visible*/
.carousel-control-prev-icon {
    background-color: black;
}

.carousel-control-next-icon {
    background-color: black;

}

/* MEET INSTRUCTORS PAGE */

/*MEET INSTRUCTORS HERO IMAGE*/
#meet-instructors-hero-image {
    height: 400px;
    width: 100%; 
    background: url("../images/meet-instructors-images/meet-instructors-hero.png") no-repeat center center/cover ;
} 

#becky-ludlington {
    margin-top: -16px;
}

/* BUTTONS ON MEET INSTRUCTORS PAGE WHICH GO BACK TO HOME AND ABOUT */
/*Centres the buttons on the page*/
#buttons-meet-instructors-page {
   text-align: center;
}

/* APPLY CONTACT PAGE */
/* APPLICATION FORM */

/* Makes each line of the form appear on seperate lines rather than on one */
label {
  display: flex;
  flex-direction: column;
}

/* Selects all the labels that have a for attribute i.e. all the labels telling the user what info to enter into each box on the form*/
label[for] {
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}

/* Pseudo element selector targetting the placeholder text in the textarea box of application form */
textarea::placeholder {
    text-align: center;
    color: #0000ff;

}

#application-form {
    background-color: var(--light-blue-transparent);
    /* controls the space the application form takes up on the page and stops it spilling into the find us section below */
    height: 100%;
    margin: 0;
    font-family: var(--body-font);
    font-weight: bold;
}

form {
    text-align: center;
}
/* Embedded Google Map */
iframe { 
    width: 100%;
    height: 400px;
}

/*BUTTONS ON ALL PAGES INC APPLICATION FORM*/
.submit-button {
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: var(--light-yellow);
    color: black;
    font-family: var(--heading-font);
    border: 3px solid black;
    border-radius: 10%;
    font-family: var(--heading-font);
    font-weight: 900;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.submit-button:hover {
    background-color: var(--darker-yellow);  
}


/* CONTACT US SECTION */
/* targets font awesome icons - makes them bigger and spaced away from the text */
.fa-solid {
    font-size: 160%;
    padding-top: 5%;
}


/* BACK TO TOP BUTTONS AT THE END OF EACH PAGE */
.back-to-top-buttons {
    padding-top: 5%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2%;
}

/* THANK YOU  and 404 PAGES */
.thank-you-button {
    text-align: center;
}

/* Adds space between paragraph text and button on 404 and thank you pages */ 

.button-space {
    margin-bottom: 15px;
}

.thank-you-background { 
    background-color: var(--light-blue-transparent);
}

/* FOOTER */

#social-links {
/* Removes bullet points from social media icons*/
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--light-blue);
    font-family: var(--body-font);
    color: black;
    /* these 2 padding values add space above and below the icons */
    padding: 10px 0;
    margin-bottom: 0;
}

/*targets the social media icons*/
.fa-brands {
    color: black;
}

/*targets the social media icons so their colours will change when they are hovered over. 
To get this to work, had to target i element not a element as originally thought*/
i:hover {
    color: var(--anti-flash-white);
}

.footer-text {
    background-color: var(--light-blue);
    text-align: center;
    margin-bottom: 0;
}

/* MEDIA QUERIES */
/* HOMEPAGE */
/* Course intro section on homepage */

/* BS breakpoint small screens */
@media (min-width: 576px) {
    #course-intro {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    #course-intro > div {
        width: 75%;
        /* aligns the div itself which contains the id of course-intro to the centre */
        align-self: center;
    }

/* Enlarges the images on the card sections on the homepage */
    .homepage-menu-images {
        height: 400px;
        width: 500px;
    }

    /* Enlarges the logo on the card section on the homepage */
    .homepage-logo {
        height: 400px;
        width: 500px;
    }

    /* COURSE INFORMATION PAGE */
    .course-overview-about-you-images {
        height: 400px;
        width: 500px;
    }

    /* MEET INSTRUCTORS PAGE */
    #align-bottom-buttons {
        display: flex;
        justify-content: space-evenly;
    }

    /* BS breakpoint large screens and up */
    /* GENERAL STYLES ON LARGE SCREENS */
    /*HOMEPAGE*/
    /* Enlarges the images on the card sections on the homepage */
    @media (min-width: 992px) {

        h1, h2 {
            font-family: var(--heading-font);
            text-align: center; 
            font-size: 50px;
    
        }
        
        p {
            font-family: var(--body-font);
            font-weight: 600;
            padding-left: 5%;
            padding-right: 5%;
            text-align: center;
            font-size: 20px;
        }
        
        button {
            background-color: var(--light-yellow);
            color: black;
            font-family: var(--heading-font);
            border: 3px solid black;
            border-radius: 10%;
            margin-bottom: 5%;
            font-size: 20px;
        }

    /* BACK TO TOP BUTTONS AT THE END OF EACH PAGE */
    .back-to-top-buttons {
    padding-top: 5%;
    display: flex;
    justify-content: space-evenly;
    }

    /* HOMEPAGE */
    .homepage-menu-images {
        height: auto;
        width: 70%;
        padding-left: 5%;
    }

    /* Enlarges the logo on the card section on the homepage */
    .homepage-logo {
        height: auto;
        width: 70%;
        padding-left: 5%;
        /* Border removed on larger screens otherwise border edge sticks to side of screen */
        border: none;
    } 

    /* GENERAL CONTAINERS */

    .container-white {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .container-azure-blue {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .container-light-blue {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .about-course-homepage-text {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    }

    /* ABOUT PAGE */

    .course-overview-about-you-images {
        height: auto;
        width: 70%;
        margin: 0;
        padding-left: 10%;
        padding-right: 5%;
        padding-top: 5%;
        border-radius: 18%;
    }

    .centered-text-large-screens  {
        text-align: center;
        background-color: var(--light-blue-transparent);
    
    }

    /* MEET INSTRUCTORS PAGE */
    .instructor-images {
        height: auto;
        width: 70%;
        padding-left: 5%;
        border-radius: 14%;
    }

    #application-form {
        background-color: var(--light-blue-transparent);
        /* controls the space the application form takes up on the page and stops it spilling into the find us section below */
        height: 100%;
        margin: 0;
        font-family: var(--body-font);
        max-width: 80%;
        margin-left: 10%;
        font-weight: bold;
    }

    /* COURSE INFORMATION PAGE */

    /* COURSE INFORMATION PAGE */
    /* COURSE OVERVIEW SECTION */


.course-overview-images {
        max-height: 80%;
        max-width: 80%;
        border-radius: 12%;
        padding: 5%;
    }   

.image-positon {
    display: flex;
    justify-content: flex-end;
}

.course-overview-text {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
}

.image-positon-left {
    display: flex;
    justify-content: flex-start;
}

.course-overview-text-right {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    
}

    .table {
        border: none;
        font-family: var(--body-font);
        max-width: 90%;
        margin-left: 10%;
        font-size: 20px;
    }

    .container-light-blue {
        text-align: center; 
        background-color: var(--light-blue-transparent);
        display: flex;
        flex-direction: column;
    }


    /* HOMEPAGE ADJUSTMENTS */

 /* The padding stops the images on this section from sticking to sides of screen. Had to apply margin 0 to get padding to apply */
 .course-overview-about-you-images {
    height: auto;
    width: 70%;
    margin: 0;
    padding-left: 10%;
    
}

    /* Affects about you section on homepage. Had to add additional div with new class of about-you and place it here in the 
    stylesheet to override the styles applied to it by class of container-light-blue. Without this CSS, the img does not move
    to right and text does not move to left */

    .about-you {
        display: flex;
    }


/* Affects the text and button on about you section on homepage. Had to add additional div with new class shown below and place it here in the 
    stylesheet to override the styles applied to it by class of container-light-blue. Without this CSS, the text appears above the 
    img at the top of the div instead of inline with the img */
    .text-homepage-about-you {
        padding-top: 88%;
    }


}
}