/*Google Fonts link*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');/* Asterisk wildcard selector to override default styles added by the browser */

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --navbar-colour: #71add1;
    /*lightest blue*/
}

/*General styles - code from Love Running - used to push footer to bottom of page*/
body {
/* min-height here allows the body elements to stretch larger than the height of the screen 
when there is enough content that thhe user needs to scroll*/
    min-height: 100vh;
/*flex column means the elements will still show underneath each other */
    display: flex;
    flex-direction: column;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;

}

p {
    font-family: 'Quicksand' sans-serif;
    text-align: justify;
}

/*targets course intro text on home page and ensures the text does not stick to sides of page*/
#intro-text {
    padding-left: 5%;
    padding-right: 5%;
}


main {
/*makes the main element take up any surplus space and not shrink when the screen
is too small to show all the content*/
    flex: 1 0 auto;
}

/*Hero Image*/
#hero-image {
    height: 600px;
    width: 100%;
    /*links our hero image. We are starting from our style.css file in the CSS folder so the ../
    means go up a level to assets folder and then into images and then go to the image. The two 
    centers mean the image is centered vertically and horizontally. Cover means the image 
    automatically sizes itself to cover entire hero section with no distortion*/

    background: url("../images/hero-image-optimised.jpg") no-repeat center center/cover;
}


/*Home page logo*/
.home-page-logo {
    height: 500px;
    width: 50%;
    /* these 3 center the logo on the page*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*These 3 make the logo appear just under the hero image but it then means text won't go under the logo*/
    /*position: absolute;
    top: 503px; left: 450px;*/
}

/*navbar*/
#navbar {
    background-color: var(--navbar-colour);
}

.logo {
    height: 50px;
    width: 50px;
}

/*styles the navbar link for the page that user is on e.g. if user is on homepage, only home will appear underlined*/
.active {
    text-decoration: underline;
}


/*styles the text for the links in the navbar*/
.nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-weight: bold;
    /*color: #043670;*/
    /*darkest blue*/
}

/*Styles the text for the college name in the navbar*/
.college-name {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-weight: 900;
    /* color: #043670;*/
    /*darkest blue*/
}

.navbar-colour {
    background-color: var(--navbar-colour);
}

/*Adds hover functionality to BS navbar links to change their colour 
to white when hovered over*/
.navbar .navbar-nav .nav-link:hover {
    color: #ffffff;
}

/* footer */
#social-links {
/* Removes bullet points from social media icons*/
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    background-color: #06458e;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
}

/*targets the social media icons*/
.fa-brands {
    color: #ffffff;
}

/*targets the social media icons so their colours will change when they are hovered over. 
To get this to work, had to target i element not a element as originally thought*/
i:hover {
    color: #f36f32;
}